.box {
  margin-bottom: 3rem;
  border: 1px solid #dedede;
  border-radius: 3px;
  &:last-child {
    margin-bottom: 0;
  }
  &__featured {
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    padding: 2rem;
  }
  &__title {
    margin-bottom: 0;
  }
  &__meta {
    display: flex;
    span {
      margin-right: 1rem;
    }
  }

  &__link {
    color: #1e1e1e;
    &:hover {
      color: #007bff;
    }
  }

  &__readmore {
    display: flex;
    justify-content: flex-end;
  }
}
